.account {
  margin-top: -12px;
  &__tabs {
    & > button {
      height: 100%;
      min-width: 100px;
      background: transparent;
      color: #7a7a7c;
    }
  }
  &__container {
    min-height: 227px;
    max-width: 1716px;
    border: solid 1px #ededed;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: $green;
    margin: 13px;
  }
}
