.agreements {
  display: flex;
  flex-direction: column;
  padding: 19px 40px 13px;
  background-color: $white;
  box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.agreements-info {
  max-height: 384px;
  font-size: 11px;
  line-height: 1.18;
  margin-bottom: 12px;
  overflow-y: auto;
  background-color: $white;
  box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 20px 200px 20px 30px;
}

.list-info {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  &__item {
    color: $main-color-text-grey;
  }
}

.link-decoration {
  color: $main-color-text-grey;
  &:before {
    content: "- ";
  }
  &:hover {
    color: $green;
  }
}

.confirmation {
  display: flex;
  &__form-submission {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__text {
    font-size: 13px;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    line-height: 1.23;
    font-weight: 500;
    &_link {
      color: $main-color-text-grey;
      text-decoration: underline;
      &:hover {
        color: $green;
      }
    }
  }
  &__subtext {
    margin: 0;
    font-size: 10px;
  }
}

.label-confirmation {
  font-size: 11px;
  color: $green;
  margin-bottom: 5px;
}

.input-confirmation {
  height: 44px;
  font-size: 18px;
  color: $main-color-text-grey;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
  border: none;
  &:focus {
    border: none;
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
  }
}

.group-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  &__button {
    height: 31px;
    border: 0;
    font-size: 16px;
  }
}

.btn-cancel {
  @extend .group-buttons__button;
  width: 100px;
  background-color: transparent;
  margin-right: 20px;
}

.btn-submit {
  @extend .group-buttons__button;
  width: 141px;
  background-color: $main-color-text-grey;
  color: $white;
  border-radius: 5px;
  margin-left: 20px;
  box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
}

.btn-active {
  background-color: $green;
}

.text-error {
  color: $light-red;
}

.input-wrapper_width {
  width: 85%;
}