.agreements {
  display: flex;
  flex-direction: column;
  padding: 19px 40px 13px;
  background-color: #f9fafb;
  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
  }
}

.agreements-info {
  max-height: 398px;
  font-size: 12px;
  border: 2px solid #e0e0e0;
  padding: 7.5px 11.5px;
  margin-bottom: 12px;
  overflow-y: auto;
  background-color: #ffffff;
}

.list-info {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  &__item {
    color: #808895;
  }
}

.link-decoration {
  color: #808895;
  &:before {
    content: "- ";
  }
  &:hover {
    color: #98c73a;
  }
}

.confirmation {
  display: flex;
  &__form-submission {
    margin-bottom: 20px;
  }
  &__text {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    &_link {
      color: #808895;
      text-decoration: underline;
      &:hover {
        color: #98c73a;
      }
    }
  }
  &__subtext {
    margin: 0;
    font-size: 10px;
  }
}

.form-centering {
  width: 85%;
  margin: 0 auto;
}

.label-confirmation {
  font-size: 12px;
  font-weight: 400;
  color: #98c73a;
}

.input-confirmation {
  height: 45px;
  color: #808895;
  background-color: #ffffff;
  border-radius: 0;
}

.border-default {
  border: 2px solid #e0e0e0;
}

.border-error {
  border: 2px solid #ff0405;
}

.group-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  &__button {
    width: 130px;
    height: 34px;
    margin: 0 20px;
    border: 0;
  }
}

.btn--cancel {
  @extend .group-buttons__button;
  background-color: #f9fafc;
}

.btn--submit {
  @extend .group-buttons__button;
  background-color: #808895;
  color: #ffffff;
}

.btn--active {
  background-color: #98c73a;
}

.text--error {
  color: #ff0405;
}