.agreements {
  display: flex;
  flex-direction: column;
  padding: 19px 40px 13px;
  background-color: #f9fafb;
  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
  }
}

.agreements-info {
  max-height: 398px;
  font-size: 12px;
  border: 2px solid #e0e0e0;
  padding: 7.5px 11.5px;
  margin-bottom: 12px;
  overflow-y: auto;
  background-color: #ffffff;
}

.list-info {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  &__item {
    color: #808895;
  }
}

.link-decoration {
  color: #808895;
}

.confirmation {
  display: flex;
  &__form-submission {
    text-align: center;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    &_link {
      color: #808895;
      text-decoration: underline;
    }
  }
  &__subtext {
    margin: 0;
    font-size: 10px;
  }
}

.form--centering {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-confirmation {
  width: 85%;
  font-size: 12px;
  font-weight: 400;
  color: #98c73a;
  text-align: start;
}

.input-confirmation {
  width: 85%;
  height: 45px;
  color: #808895;
  background-color: #ffffff;
  border-radius: 0;
}

.border-default {
  border: 2px solid #e0e0e0;
}

.border-error {
  border: 2px solid #ff0405;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #ffffff;
}

.btn--cancel {
  border: 0;
  background-color: #f9fafc;
  margin: 0 20px;
  width: 130px;
  height: 34px;
}

.btn--submit {
  width: 130px;
  height: 34px;
  background-color: gray;
  border: solid 1px gray;
  color: white;
  margin: 0 20px;
}

.btn--active {
  background-color: #98c73a;
  border: solid 1px #98c73a;
}

.text--error {
  color: #ff0405;
}