.btn-navigate {
  background: transparent;
  width: 87px;
  height: 37px;
  border: solid 2px rgba(128, 136, 149, 0.75);
  color: rgba(128, 136, 149, 0.75);
  padding: 0;
  cursor: pointer;
  box-shadow: 2px 6px 20px 0 rgba(0, 0, 0, 0.16);
  background: $white;
  &:focus {
    outline: none;
  }
  svg {
    margin-top: -2px;
  }
}

.btn--navigate--active {
  color: #98c73a;
  border-color: #98c73a;
}

.btn-prev {
  border-radius: 50px 0 0 50px;
}

.btn-next {
  margin-left: 10px;
  border-radius: 0 50px 50px 0;
}
