.btn--navigate {
  background: transparent;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid 2px #707070;
  color: #707070;
  padding: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  svg {
    margin-top: -2px;
  }
}

.btn--navigate--active {
  color: #98c73a;
  border-color: #98c73a;
}

.btn--next {
  margin-left: 20px;
}
