.dashboard {
  margin-left: 180px;
  max-width: calc(100% - 180px);
  display: block;
  width: 100%;
  padding-top: 84px;
  transition: .4s;
  min-height: 100%;
  .container-fluid {
    padding: 0 2.5px;
    & > .row {
      margin-left: -2.5px;
      margin-right: -2.5px;
    }
  }
  .widget-col {
    padding: 0 2.5px;
    margin-bottom: 5px;
  }

  &_full {
    margin-left: 80px;
    max-width: calc(100% - 80px);
  }
  &__footer {
    padding: 10px 20px;
    border-top: 1px solid;
  }
  &__copyright {
    @include fontSize(12px);
  }
  &_light {
    background: #f9fafa;
    .widget {
      background: $white;
      border-color: #EDEDED;
    }
    .dashboard__footer {
      background: $white;
      border-color: #EDEDED;
    }

    .list-horizontal__link, .dashboard__copyright, .main-text-helvetica {
      color: #000;
    }
  }
  &_dark {
    background: $dark-bg-blue;
    .widget {
      background: $dark-blue;
      border-color: $dark-blue;
    }
    .dashboard__footer {
      background: $dark-bg-blue;
      border-color: $dark-bg-blue;
      color: $main-color-text-grey;
    }
    .list-horizontal__link, .dashboard__copyright, .main-text-helvetica {
      color: $main-color-text-grey;
    }
    .emp-table__th {
      color: #7a7697;
    }
    .emp-table__td {
      //color: #f7f7f8;
    }
    .news-card__link {
      color: #b2b2b3;
    }
  }
}