.dashboard-header {
  border: none;
  &_collapsed {
    .dashboard-header__logo {
      width: 180px;
    }
    .dashboard-header__main {
      width: calc(100% - 180px);
    }
  }
  &__logo {
    width: 80px;
    padding: 23px 15px;
    transition: .4s;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  &__main {
    width: calc(100% - 80px);
    transition: .4s;
    margin: 0;
  }
  &__toggle {
    background: none;
    border: none;
    &:focus {
      outline: none !important;
    }
    span {
      position: relative;
      &:before {
        content: '';
        mask: url($path-to-dashboard-icon + 'icon-humburger.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: $main-color-text-grey;
        width: 20px;
        height: 14px;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
      }
    }
  }
  &_light {
    background: $white;
    .dashboard-header__logo {
      background: #222325;
    }
    .user-nav__dropdown-menu {
      background: $white;
    }

  }
  &_dark {
    background: #25243e;
    .dashboard-header__logo {
      background: $dark-blue;
    }
    .profile-menu__user-info-member-no,
    .profile-menu__user-info-title,
    .profile-menu__link {
      color: #dee2e6;
    }
    .user-nav__dropdown-menu {
      background: #383757;
      .dropdown-item {
        color: $main-color-text-grey;
        &:hover, &:focus {
          background: #46456b
        }
      }
    }

  }
}

.user-nav {
  &__dropdown-btn {
    background: none;
    border: none;
    padding: 0;
    margin-right: 10px;
    margin-left: 25px;
    width: 55px;
    height: 55px;
    overflow: hidden;
  }
  &__userPic {
    width: 100%;
    border-radius: 6px;
    &_bordered {
      padding: 5px;
      border: 2px solid $green;
    }
  }
  &__link {
    position: relative;
    &_active, &:hover {
      .user-nav__icon {
        &:before {
          background-color: $green;
        }
      }
    }
  }
  &__icon {
    position: relative;
    display: block;
    &:before {
      content: '';
      background-color: $main-color-text-grey;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
    }
    &_chat {
      width: 22px;
      height: 21px;
      &:before {
        mask: url($path-to-dashboard-icon + 'icon-chat.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        width: 20px;
        height: 21px;

      }
    }
    &_notification {
      width: 16px;
      height: 20px;
      &:before {
        mask: url($path-to-dashboard-icon + 'icon-notification.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        width: 16px;
        height: 20px;
      }
    }
  }
  &__dropdown-menu {
    margin-right: 10px;
    margin-top: 6px;
  }
}

.dashboard-search {
  display: flex;
  &__btn {
    border: none;
    position: absolute;
    background: transparent;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }
  &__icon {
    position: relative;
    display: block;
    &:before {
      content: '';
      background-color: $main-color-text-grey;
      mask: url($path-to-dashboard-icon + 'icon-search.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      width: 20px;
      height: 19px;
      display: block;
    }
  }
  &__input {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    opacity: 0;
    transition: .3s;
    width: 34px;
    position: relative;
    cursor: pointer;
    &:focus {
      cursor: text;
      width: 100%;
      opacity: 1;
      background: #fff;
      z-index: 3;
    }
  }

}