.dashboard {
  border-bottom: 1px solid;
  margin-left: $sidebar-width-full;
  max-width: calc(100% - #{$sidebar-width-full});
  display: block;
  width: 100%;
  padding-top: 84px;
  transition: .4s;
  min-height: 100vh;
  .container-fluid {
    padding: 0 2.5px;
    & > .row {
      margin-left: -2.5px;
      margin-right: -2.5px;
    }
  }
  .widget-col {
    box-sizing: content-box;
    padding: 0 5px 0 0;
    margin-bottom: 5px;
  }

  &_full {
    margin-left: $sidebar-width;
    max-width: calc(100% - #{$sidebar-width});
  }
  &__footer {
    padding: 10px 10px 10px;
    padding-left: calc(#{$sidebar-width} + 20px);
    transition: .4s;
    &_full {
      padding-left: calc(#{$sidebar-width-full} + 20px);
    }
    &_light {
      background: $white;
      .list-horizontal__link, .dashboard__copyright, .main-text-helvetica {
        color: #000;
      }
    }
    &_dark {
      background: $dark-bg-blue;
      color: $main-color-text-grey;
      .list-horizontal__link,
      .dashboard__copyright,
      .main-text-helvetica {
        color: $main-color-text-grey;
      }
    }
  }
  &__copyright {
    @include fontSize(12px);
  }
  &_light {
    background: #f9fafa;
    border-color: #EDEDED;
    .widget {
      background: $white;
      border-color: #EDEDED;
    }
    .list-horizontal__link, .dashboard__copyright, .main-text-helvetica {
      color: #000;
    }
    .tabs-line {
      background: #fff;
    }
  }
  &_dark {
    border-color: $dark-bg-blue;
    background: $dark-bg-blue;
    .widget {
      background: $dark-blue;
      border-color: $dark-blue;
    }
    .list-horizontal__link,
    .dashboard__copyright,
    .main-text-helvetica {
      color: $main-color-text-grey;
    }
    .emp-table__th {
      color: #7a7697;
      background-color: $dark-blue;
    }
    .emp-table__td,
    .emp-table.table-striped-row .emp-table__table-cell {
      color: #cacaca;
    }
    .news-card__link {
      color: #b2b2b3;
    }
    .MuiAppBar-colorDefault-6 {
      background: $dark-bg-blue;
    }
    .emp-table.table-striped tbody tr:nth-of-type(odd),
    .emp-table.table-striped-row .emp-table__table-cell:nth-of-type(odd) {
      background-color: rgba(245, 245, 246, 0.02);
    }
    .news-card__title, .news-card__link, .form-range__label, .switcher__label {
      color: #b9bccb;
    }
    .switcher__label_checked {
      color: #98c73a;
    }
    .news-card__text {
      color: #a5a8b7;
    }
    .form-range__input {
      background: #7a7697;
      border: #7a7697 1px solid;
      color: #cacaca;
    }
    .pseudo-input__input_dark {
      background-color: $dark-blue;
      color: $white;
      &:focus{
        color: $white;
      }
    }
    .dark-theme {
      background: $dark-bg-blue;
      border: $dark-bg-blue;
    }
    .cash__icon_link {
      &:before {
        background-color: #cacaca;
      }
    }
  }
}

.performance {
  &-privacy-text {
    border: 1px solid #e4e4e4;
    display: flex;
    line-height: 2;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 380px;
    &__content {
      text-align: center;
    }
  }
  &-community-league {
    @media(max-width: 1766px) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__footer {
      @include fontSize(12px);
      text-align: center;
    }
  }
}

.cash {
  &__icon {
    &_link {
      &:before {
        content: ' ';
        mask: url($path-to-dashboard-icon + 'icon-link.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        width: 12px;
        height: 12px;
        display: inline-block;
        background-color: $dark-grey;
      }
    }
    &_comment {
        &:before {
          content: ' ';
          mask: url($path-to-dashboard-icon + 'icon-comment.svg');
          mask-size: contain;
          mask-repeat: no-repeat;
          width: 12px;
          height: 12px;
          display: inline-block;
          background-color: $green;
        }
    }
  }
}