.dashboard {
  margin-left: 180px;
  display: block;
  width: 100%;
  padding-top: 84px;
  transition: .4s;
  min-height: 100%;
  .container-fluid {
    padding: 0 7.5px;
    & > .row {
      margin-left: -7.5px;
      margin-right: -7.5px;
    }
  }
  .widget-col {
    padding: 0 7.5px;
  }
  &_light {
    background: #f9fafa;
  }
  &_full {
    margin-left: 80px;
  }
  &__footer {
    padding: 10px 20px;
    background: $white;
    border-top: 1px solid #EDEDED;
  }
  &__copyright {
    color: #000;
    @include fontSize(12px);
    font-family: Helvetica, serif;
  }
}