#__next, .full-height-wrap {
  position: relative;
  min-height: 100%;
}

.pointer {
  cursor: pointer;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main-text-helvetica {
  font-family: Helvetica, serif;
  color: #000;
  &_12 {
    @include fontSize(12px)
  }
}

.list-horizontal {
  padding-left: 0;
  &__item {
    list-style: none;
    display: inline-block;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__link {
    color: #000;
    font-family: Helvetica, serif;
    @include fontSize(12px);
    &:hover, &:focus {
      color: $green;
    }
  }
}

.red {
  color: $light-red !important;
}

.green {
  color: $green !important;
}

.blue {
  color: $blue !important;
}

.yellow {
  color: $yellow !important;
}