#__next, .full-height-wrap {
  position: relative;
  min-height: 100%;
}

.pointer {
  cursor: pointer;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main-text-helvetica {
  font-family: Helvetica, serif;
  &_12 {
    @include fontSize(12px);
    line-height: normal;
  }
}

.list-horizontal {
  padding-left: 0;
  &__item {
    list-style: none;
    display: inline-block;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__link {
    font-family: Helvetica, serif;
    @include fontSize(12px);
    &:hover, &:focus {
      color: $green;
    }
  }
}

.red {
  color: $light-red !important;
}

.green {
  color: $green !important;
}

.blue {
  color: $blue !important;
}

.yellow {
  color: $yellow !important;
}

.white {
  color: $white;
}

.btn-default {
  background: none;
  border: 2px solid;
  padding: 5px 15px;
  border-radius: 25px;
  margin-left: 15px;
  cursor: pointer;
  @include styledButtonsByColor($green, 'green');
}

.no-border {
  border: none;
}

.invisible-btn {
  background: none;
  border: none;
  padding: 0;
}

.margin-bt-30 {
  margin-bottom: 30px;
}

.default-list {
  padding-left: 0;
  &__item {
    list-style: none;
    @include fontSize(16px);
    color: $main-color-text-grey;
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &-link {
      color: $main-color-text-grey;
      text-decoration: none;

      &:hover {
        color: #98c73a;
        text-decoration: none;
      }
    }
  }
}

.no-borders {
  border: none !important;
}

.vertical-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fs-12 {
  @include fontSize(12px);
  line-height: 12px;
}

.fs-15 {
  @include fontSize(15px);
  line-height: 15px;
}

.mw_330 {
  max-width: 330px;
  @media(max-width: 991px) {
    max-width: 100%;
  }
}

.mw_350 {
  max-width: 350px;
}

.mw_210 {
  max-width: 210px;
}

.mw_208 {
  max-width: 208px;
}

.mw_150 {
  max-width: 150px;
}

.mt-21 {
  margin-top: 21px;
}

.mt-12 {
  margin-top: 12px;
}

.ml-10 {
  margin-left: 10%;
}

.mr-10 {
  margin-right: 10%;
}

.t-strong {
  font-weight: bolder;
}

.t-black {
  color: $abbey;
  &:hover {
    color: $abbey;
  }
}

.t-ins {
  text-decoration: underline;
}

.t-small {
  @include fontSize(12px);
}

.simple-box-shadow {
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.16);
}

.green-link {
  color: $green;
  font-weight: normal;
  @include fontSize(14px);
  &:hover, &:focus {
    color: $green;
  }
}

.gray-link {
  color: #424344;
  font-weight: 300;
  @include fontSize(16px);
  &:hover, &:focus {
    color: $gray-700;
  }
}

.icon-sort {
  background-image: url($path-to-dashboard-icon + "icon-label-filter.svg");
  width: 6px;
  height: 5px;
  position: relative;
  display: inline-block;
  margin-left: 3px;
}

.mr-h-auto {
  margin: 0 auto
}

.short-form-group {
  &__label {
    color: $green;
    display: block;
  }

  &__input {
    @include fontSize(16px);
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border: solid 1px #efefef;
    border-radius: 10px;
    max-width: 75px;
    text-align: center;
    padding: 6px 5px;
    margin-bottom: 35px;
    &::placeholder {
      color: #cccaca;
    }
  }
}

.inf-text {
  font-size: 10px;
  line-height: 1.2;
  white-space: pre-line;
  text-align: center;
}