.emp-table {
  margin-bottom: 0;
  &__th {
    @include fontSize(12px);
    font-weight: normal;
    color: $dark-grey;
    padding: 4px 4px 11px !important;
  }
  &__td {
    @include fontSize(12px);
    padding: 4px !important;
    font-weight: normal;
    color: $main-color-text-grey;
    @media (max-width: 1600px) {
      @include fontSize(10px);
    }
    &_up {
      &:before {
        content: '\25B4';
        margin-right: 3px;
      }
    }
    &_down {
      &:before {
        content: '\25BE';
        margin-right: 3px;
      }
    }
    &_chart {
      padding-bottom: 12px !important;
    }

  }
  &__tr {
  }
}