.emp-table {
  margin-bottom: 15px;
  &__th {
    @include fontSize(12px);
    font-weight: normal;
    color: $dark-grey;
    padding: 4px 4px 11px !important;
    &:first-child {
      padding-left: 10px !important;
    }
    &:last-child {
      padding-right: 10px !important;
    }
    &.text-right {
      padding-right: 10px !important;
    }
    @media (max-width: 1500px) {
      @include fontSize(10px);
    }
  }
  &__td {
    @include fontSize(12px);
    padding: 4px !important;
    font-weight: normal;
    color: $main-color-text-grey;
    @media (max-width: 1600px) {
      @include fontSize(10px);
    }
    &:first-child {
      padding-left: 10px !important;
    }
    &:last-child {
      padding-right: 10px !important;
    }
    &_up {
      &:before {
        content: '\25B4';
        margin-right: 3px;
      }
    }
    &_down {
      &:before {
        content: '\25BE';
        margin-right: 3px;
      }
    }
    &_chart {
      padding-bottom: 12px !important;
    }
    &.text-right {
      padding-right: 16px !important;
    }

  }
  &__table-cell {
    @include fontSize(12px);
    padding: 4px !important;
    font-weight: normal;
    color: $main-color-text-grey;
    @media (max-width: 1600px) {
      @include fontSize(10px);
    }
  }

  &.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(245, 245, 246, 0.6);
  }
}