.emp-table {
  position: relative;
  margin-bottom: 15px;
  &__th {
    @include fontSize(12px);
    position: sticky;
    top: 0;
    font-weight: normal;
    color: $dark-grey;
    background-color: $white;
    padding: 4px 0 11px 10px !important;
    &:first-child {
      padding-left: 10px !important;
    }
    &:last-child {
      padding-right: 10px !important;
    }
    &.text-right {
      padding-right: 10px !important;
    }
    max-height: 30px;
  }
  &__td {
    @include fontSize(12px);
    padding: 4px !important;
    font-weight: normal;
    color: $main-color-text-grey;
    @media (max-width: 1600px) {
      @include fontSize(10px);
    }
    &:first-child {
      padding-left: 10px !important;
    }
    &:last-child {
      padding-right: 10px !important;
    }
    &_up {
      &:before {
        content: '\25B4';
        margin-right: 3px;
      }
    }
    &_down {
      &:before {
        content: '\25BE';
        margin-right: 3px;
      }
    }
    &_chart {
      padding-bottom: 12px !important;
    }
    &.text-right {
      padding-right: 16px !important;
    }

  }
  &__table-cell {
    @include fontSize(12px);
    padding: 4px 0 4px 10px !important;
    font-weight: normal;
    color: $main-color-text-grey;
    &_small {
      padding-top: 1px!important;
      padding-bottom: 1px!important;
    }
    &_text-bold {
      font-weight: bold;
    }
  }
  &__divider {
    text-align: center;
    background-color: #e6e6e6;
    vertical-align: middle;
    font-weight: bolder;
    width: 100%;
    height: 2em;
    cursor: pointer;
  }

  &.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(245, 245, 246, 0.6);
  }
  &.table-striped-row .emp-table__table-cell:nth-of-type(odd) {
    background-color: rgba(245, 245, 246, 0.6);
  }
}

