.fields-group {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &__title {
    color: #98c73a;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: .5px;
  }
}