.fields-group {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  &__title {
    color: #98c73a;
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    margin-left: -27px;
    display: flex;
  }
}