.flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}

.fd-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.final-review__outer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.final-review__inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 987px;
  padding: 61px 20px 0;
  margin: 0 auto;
}

.final-review__title {
  font-size: 22px;
  color: #98c73a;
  font-weight: normal;
  margin-bottom: 30px;
}

.final-review__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .frc-mini {
    width: 215px;
  }
}

.frc-block {
  &__fields {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__field {
    margin-bottom: 20px;
  }
  &__field-label {
    font-size: 12px;
    font-weight: normal;
    color: #98c73a;
  }
  &__field-value {
    border-bottom: 2px solid #e2e2e2;
    font-size: 16px;
    font-weight: normal;
    height: 25px;
  }
  &__no-title {
    height: 20px;
  }
}

.final-review__navigation {
  margin: 20px auto;
}


