.flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}

.fd-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.final-review__outer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
  background: $white;
}

.final-review__inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 987px;
  padding: 61px 20px 0;
  margin: 0 auto;
}

.final-review__title {
  font-size: 18px;
  color: #98c73a;
  font-weight: normal;
  margin-bottom: 15px;
}

.final-review__text {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 35px;
  &_info {
    color: $green;
    text-decoration: underline;
    font-weight: normal;
  }
}

.final-review__icon_arrow-back {
  &:before {
    content: '';
    mask: url($path-to-images + 'icon-arrow-back.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: $main-color-text-grey;
    width: 15px;
    height: 13px;
    display: inline-block;
  }
}

.final-review__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .frc-mini {
    width: 215px;
  }
}

.frc-block {
  &__fields {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__field {
    margin-bottom: 15px;
  }
  &__field-label {
    font-size: 12px;
    font-weight: normal;
    color: #98c73a;
    margin-bottom: 3px;
  }
  &__field-value {
    font-size: 18px;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.15);
  }
  &__no-title {
    height: 20px;
  }
}

.final-review__navigation {
  margin: 30px auto;
}


