.global-portfolio {
  &__container {
    margin: 17px;
    &_payments {
      max-width: 1716px;
      border: solid 1px #ededed;
      background: $white;
      margin-bottom: 10px;
      padding: 20px;
      @media(max-width: 991px) {
          flex-direction: column;
          align-items: center;
      }
      button {
        background: $green;
        color: $white;
        width: 169px;
        height: 29px;
        border-radius: 3px;
        box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
      }
    }
    &_graphics {
      min-height: 807px;
      max-width: 1716px;
      border: solid 1px #ededed;
      background: $white;
      .graphic__wrapper {
        height: 50%;
        padding: 20px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  &__input-group {
    @media(max-width: 991px) {
      width: 400px;
      margin: 0;
    }
    & > div {
      width: 208px;
      margin: 0 13px 10px;
      @media(max-width: 1461px) {
        width: 156px;
      }
      @media(max-width: 991px) {
        width: 100%;
      }
    }
  }
  .vertical-align_center {
    display: flex;
    align-items: center;
  }
  .input-group__container {
    width: 708px;
    @media(max-width: 1461px) {
      width: 546px;
      margin: 0;
    }
    @media(max-width: 1199px) {
      width: 364px;
    }
    @media(max-width: 991px) {
      width: 400px;
    }
  }
  &__button {
    &_width {
      @media(max-width: 991px) {
        width: 400px;
        padding-left: 13px;
      }
    }
  }
  @media(max-width: 1651px) {
    .ml-10 {
      margin-left: 0;
    }
    .mr-10 {
      margin-right: 0;
    }
  }
}

.global-account_padding {
  padding-left: 4%;
}

.icon-centering {
  display: flex;
  height: calc(100% - 43px);
  justify-content: center;
  align-items: center;
}

.icon-checked {
  width: 23px;
  height: 23px;
  display: block;
  &:before {
    position: absolute;
    top: 21%;
    left: 30%;
    width: 23px;
    height: 23px;
    content: '';
    mask: url($path-to-dashboard-icon + 'icon-checked.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: $green;
  }
}

.icon-trash {
  display: block;
  width: 20px;
  height: 22px;
  background: url('../../../static/images/dashboard-icons/icon-trash.svg') no-repeat 50% 50% /contain;
}

.icon-duplicate {
  display: block;
  width: 20px;
  height: 22px;
  background: url('../../../static/images/dashboard-icons/icon-letter.svg') no-repeat 50% 50% /contain;
}