.header {
  background: #222425;
  min-height: 228px;

  &__block {
    max-width: 95%;
    margin: 0 auto;
    padding-top: 45px;
    justify-content: space-between;
    align-items: center;

    &__left-side {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 25%;
      min-width: 200px;
    }

    &__right-side {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 25%;
      min-width: 200px;
    }

    &__center {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__right-link {
      font-size: 14px;
      word-spacing: 1.5px;
      letter-spacing: 0.4px;
      color: #98c73a;
    }

    &__right-link:hover {
      color: #729c35;
    }

    &__left-link {
      font-size: 14px;
      color: #f0f0f0;
    }

    &__left-link:hover {
      color: #d6d6d6;
    }
  }
}