.information-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 73px 0 39px;
  width: 100%;
}

.information-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}

.information-text {
  height: 100%;
  color: #222325;
  font-weight: 400;
  padding: 0 20px;
  &__par1 {
    margin-bottom: 55px;
    font-size: 20px;
    line-height: 1.2;
  }
  &__par2 {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 1.2;
  }
  &__par3 {
    font-size: 20px;
    margin-bottom: 36px;
    line-height: 1.2;
  }
  &__par4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 9px;
  }
  &__par5 {
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 1.25;
  }
  &__par6 {
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 1.25;
  }
}