.registration-group {
  margin-bottom: 10px;
}

.registration-label {
  font-size: 12px;
  color: #98c73a;
  display: block;
  margin: 0;
}

.registration-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #808895;
  background-color: #f9fafb;
}
