.onboard, .login__content {
  .registration-group {
    min-height: 80px;
    &__section-title {
      @include fontSize(18px);
    }
    &_height50 {
      height: 50px;
    }
  }
  .fs-18 {
    font-size: 18px !important;
  }
  .data-picker_fs-18 {
    > div > div {
      font-size: 18px !important;
    }
  }
}

.registration__icon {
  cursor: pointer;
  content: '';
  mask: url($path-to-images + 'icon-information-button.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: $yellow-green;
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
}

.icon_width15 {
  width: 15px;
  height: 15px;
}

.title-nowrap {
  white-space: nowrap;
  @media(max-width: 1099px) {
    white-space: normal;
  }
}
.margin-bottom40 {
  margin-bottom: 40px;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.margin-right10 {
  margin-right: 10px;
}

.registration-label {
  font-size: 12px;
  font-weight: normal;
  color: $yellow-green;
  display: block;
  margin-bottom: 4px;
}

.registration-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $main-color-text-grey;
  background-color: $athens-gray;
}

.text-field {
  height: 33px !important;
}
