.registration-group {
  min-height: 80px;
  &__section-title {
    @include fontSize(18px);
  }
  &_height50 {
    height: 50px;
  }
}

.title-nowrap {
  white-space: nowrap;
  @media(max-width: 1099px) {
    white-space: normal;
  }
}
.margin-bottom40 {
  margin-bottom: 40px;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.registration-label {
  font-size: 12px;
  font-weight: normal;
  color: #98c73a;
  display: block;
  margin-bottom: 4px;
}

.registration-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #808895;
  background-color: #f9fafb;
}

.text-field {
  height: 33px !important;
}
