.login {
  position: relative;
  display: flex;
  background: url($path-to-images + "login_bg1.jpg") no-repeat 50% 50% /cover;
  max-width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  &__bg {
    background-size: cover;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.43);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }
  &__part {
    height: 100%;
  }
  &__top-layer {
    z-index: 5;
  }
  &__content {
    box-shadow: 3px 8px 10px 0 rgba(0, 0, 0, 0.45);
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    padding: 32px 42px 20px 42px;
    width: 468px;
    min-height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form-width {
    width: 250px;
    margin: 0 auto 30px;
  }
  &__logo {
    width: 243px;
    margin-bottom: 30px;
  }
  &__list {
    & > li {
      @include fontSize(32px);
      text-rendering: geometricPrecision;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
  &__title {
    @include fontSize(16px);
    color: #424344;
    text-align: center;
    margin-bottom: 30px;

  }
  &__security-title {
    @include fontSize(24px);
    color: #424344;
    font-weight: 600;
    margin-top: 44px;
    text-align: center;
  }
  &__description-wrapper {
    @include fontSize(16px);
    color: #424344;
    display: flex;
    font-weight: 300;
    margin: 22px 0;
    justify-content: center;
    align-items: center;
    min-height: 46px;
  }
  &__forgot-link {
    @include fontSize(12px);
    color: #bcbcbc !important;
    margin-bottom: 20px;
    margin-top: -10px;
    z-index: 3;
    position: relative;
  }
  &__btn {
    background: $pale-olive-green;
    border: none;
    border-radius: 5px;
    color: $white;
    @include fontSize(16px);
    width: 100%;
    padding: 8px 10px;
    font-weight: 300;
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    &_sm {
      max-width: 255px;
    }
    &:disabled {
      background-color: #d0d0d0;
      cursor: not-allowed;
    }
  }
  &__text-container {
    width: 350px;
    @include fontSize(14px);
  }
  &__link {
    cursor: pointer;
    @include fontSize(12px);
    vertical-align: top;
    display: inline-block;
    margin: 10px 0;
    font-weight: 600;
  }
}

.social-btn {
  position: relative;
  color: $white;
  @include fontSize(16px);
  text-rendering: geometricPrecision;
  font-weight: 300;
  box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 5px 20px 5px 40px;
  height: 40px;
  width: 124px;
  border: none;
  margin: 0 5px;
  &:before {
    content: '';
    position: absolute;
  }
  &__google {
    background-color: #d93b2c;
    &:before {
      height: 25px;
      width: 25px;
      left: 15px;
      top: 8px;
      background: url($path-to-images + "ic-google-plus.svg");
      background-size: 100%;
    }
  }
  &__facebook {
    background-color: #39579b;
    &:before {
      height: 25px;
      width: 25px;
      left: 15px;
      top: 8px;
      background: url($path-to-images + "ic-facebook-letter.svg") no-repeat 50% 50% /cover;
      background-size: 100%;
    }
  }

  &__linkedin {
    background-color: #0073b5;
    &:before {
      height: 20px;
      width: 20px;
      left: 15px;
      top: 8px;
      background: url($path-to-images + "ic-linkedin.svg");
      background-size: 100%;
    }
  }
}

.styled-part-separate {
  @include fontSize(12px);
  position: relative;
  text-align: center;
  line-height: 1rem;
  &_mb15 {
    margin-bottom: 15px;
  }
  &:before, &:after {
    content: '';
    width: 18%;
    height: 2px;
    border-bottom: 1px solid #ededed;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(calc(50% - 3px));
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0);
  }
  &:after {
    left: 270px;
  }
  span {
    color: #878889;
    @include fontSize(14px);
    font-weight: 300;
    background: #fff;
    position: relative;
    padding: 4px;
  }
}

.social-auth {
  width: 100%;
  margin-bottom: 30px;
  min-width: 372px;
  text-align: center;
  &__row {
    display: flex;
    justify-content: space-between;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */
{
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  color: $green;
}