.modal-micro-deposits-approve {
  .title {
    padding: 30px 30px 0;
    font-size: 20px;
    text-align: left;
    color: #98c73a;
  }

  .body {
    padding: 0 30px;
    margin-top: 25px;

    .first-row {

    }

    .second-row {
      display: flex;
      margin-top: 8px;
    }

    .third-row {
      display: flex;
      margin-top: 30px;
    }

    .last-row {
      margin-top: 35px;
      width: 234px;
      font-size: 18px;
      line-height: 1.11;
      letter-spacing: 0.5px;
      text-align: center;
      color: #7a7a7c;
    }

    .info-block {

      &--second-block {
        margin-left: 55px;
      }

      &__label {
        font-size: 12px;
        color: #b2d56b;
      }

      &__value {
        font-size: 18px;
        letter-spacing: 0.5px;
        color: #7a7a7c;
        padding-left: 9px;
        margin-top: 4px;
      }
    }

    .test {
      width: 120px;

      &--2 {
        margin-left: 10px;
      }
    }
  }

  .footer {
    padding: 0 30px 30px;
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .confirm {
      height: 39px;
      border: none;
      width: 169px;
      background: #98c73a;
      border-radius: 3px;
      box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
      font-size: 16px;
      color: #ffffff;
      cursor: pointer;

      &:hover {
        box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.3);
      }
    }

    .cancel {
      height: 39px;
      width: 74px;
      font-size: 18px;
      color: #707070;
      border: none;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        &:hover {
          text-shadow: 0px 1px 5px #98c73a;
        }
      }
    }
  }
}