.name-edit {
  transition: .3s;
  &__form {
    transition: .3s;
    height: 203px;
    &_close {
      height: 0;
      transition: .3s;
      .registration-group {
        transition: .4s;
        height: 0;
        opacity: 0;
        z-Index: -2;
      }
    }
  }
}

.pseudo-input {
  height: 60px;
  &__label {
    color: $green;
    font-size: 12px;
  }
  &__input, &__input:focus {
    width: 100%;
    height: 33px;
    display: block;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.15);
    cursor: text;
    color: $main-color-text-grey;
  }
}
