.onboard {
  margin-top: -56px;
  margin-left: 15px;
  margin-right: 15px;

  &__container {
    max-width: 1280px;
    min-height: 700px;
    margin: auto;
    background: #f9fafb;
    border: solid 1px #e0e0e0;
  }

  &__col {
    min-height: 700px;
  }

  &__right-block {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    background-color: #f9fafb;
    border-left: solid 1px #e0e0e0;

    &--center {
      display: flex;
      height: 100%;
      padding: 0 170px;
      justify-content: center;
      align-items: center;
      @media(max-width: 1366px) {
        padding: 0 100px;
      }
      @media(max-width: 991px) {
        padding: 0 40px;
      }
    }

    &--bottom {
      margin: 0 auto;
    }
  }

  &__left-block {
    display: flex;
    flex-direction: column;
    padding: 125px 0;
    background: #fff;

    &--top {
      margin: 0 auto;
      padding: 0 15px;
      font-size: 15px;
    }

    &--center {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
  }
}
