.onboard {
  margin-top: -56px;
  margin-left: 15px;
  margin-right: 15px;

  &__container {
    max-width: 1280px;
    min-height: 700px;
    margin: auto;
    background: $athens-gray;
    border: solid 1px #e0e0e0;
  }

  &__col {
    min-height: 700px;
  }

  &__right-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    background: $white;
    border-left: solid 1px #e0e0e0;

    &--center {
      display: flex;
      height: 100%;
      padding: 0 150px;
      justify-content: center;
      align-items: center;
      @media(max-width: 1366px) {
        padding: 0 75px;
      }
      @media(max-width: 991px) {
        padding: 0 22px;
      }
    }

    &--bottom {
      margin: 0 auto;
    }
  }

  &__left-block {
    height: 100%;
    padding: 75px 50px;
    background: $athens-gray;
    @media(max-width: 1366px) {
      padding: 100px 40px;
    }
    @media(max-width: 991px) {
      padding: 70px 30px;
    }
    &--top {
      margin: 0 auto 120px;
      padding: 0 15px;
      font-size: 16px;
    }
  }
  .duplicate-container
  .registration-group {
    min-height: 70px;
  }
}

.experience-page {
  padding: 0 100px;
  @media(max-width: 1301px) {
    padding: 0 30px;
  }
  @media(max-width: 991px) {
    padding: 0 15px;
  }
}

.duplicate-container {
  width: 100%;
  padding: 27px 24px 27px 140px;
  .popup-info {
    width: 368px;
    height: 142px;
    border: 1px solid $light-gray;
    border-radius: 5px;
    padding: 20px;
  }
}

.icon-letter {
  &:before {
    background-color: $silver;
    content: ' ';
    width: 46px;
    height: 61px;
    display: inline-block;
    mask: url($path-to-images + 'icon-letter.svg') 50% 50%/ cover;
  }
  &_green {
    &:before {
      background-color: $green;
    }
  }
}


.icon-exclamation {
  width: 13px;
  height: 54px;
  &:before {
    content: ' ';
    background: url($path-to-images + 'icon-exclamation.svg') 100% 100%/ cover;
    width: 13px;
    height: 54px;
    display: inline-block;
  }
}

.info-icon_position {
  position: absolute;
  top: 28px;
  right: 0;
}

.check-container {
  margin-left: -26px;
  @media(max-width: 991px) {
    margin-left: 0;
  }
  label {
    width: 100% !important;
  }
}

.index_placeholder {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  margin: -56px auto 0 auto;
  height: calc(100vh - 382px);
  min-height: 701px;
  justify-content: center;
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
  font-size: 32px;
  font-weight: 300;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
  }
  &__link {
    color: #98c73a;
    cursor: pointer;
  }
  &__link:hover {
    color: #729c35;
  }
}

.pointer {
  cursor: pointer;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
