.onboard{
  margin-top: -50px;
  &__container{
    max-width: 1200px;
    min-height: 810px;
    margin: auto;
    background: #ffffff;
    border: solid 1px #e0e0e0;
    padding-left: 90px;
    &__col{
      height: 100vh;
    }
  }
  &__right-block{
    border-left: solid 1px #e0e0e0;
  }
}
