
.menu-items {
  list-style: none;
  font-size: 18px;
}

.menu-items__item--active,
.registration-label {
  color: #98c73a;
}

.registration-label {
  font-size: 12px;
}

.menu-items__item--active::after {
  content: '';
  display: inline-block;
  width: 116px;
  height: 2px;
  border: solid 1px #98c73a;
  margin-left: 20px;
  vertical-align: middle;
}

.menu-tabs {
  margin-top: 128px;
}

.menu-items--min-height {
  min-height: 500px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

.breadcrumb-item a {
  color: #808895;
  text-transform: capitalize;
}

.breadcrumb-item a:hover {
  color: #98c73a;
  text-decoration: none;
}