.review-container {
  display: flex;
  flex-direction: column;
  padding: 117px 41px 13px;
  background-color: #f9fafb;
}

.review-title {
  text-align: center;
}

.agreements-container {
  font-size: 12px;
  border: 2px solid #e0e0e0;
  padding: 25px 21px 6px 32px;
}

.agreements-title {

}

.agreements-list {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.review-text {
  font-size: 15px;
  text-align: center;
  padding: 30px;
  margin: 0;
}

.review-form {
  display: flex;
  flex-direction: column;

  &__submit-field {
    margin: 24px auto;
    text-align: center;
  }
  &__subtext {
    margin: 0;
    font-size: 10px;
  }
}
.review-input {
  width: 611px;
  margin-bottom: 20px;
  height: 51px;
}

.btn--cancel {
  border: 0;
  background-color: #f9fafc;
}

.btn--submit {
  width: 130px;
  height: 34px;
  background-color: #98c73a;
  border: solid 1px #98c73a;
  color: white;
  font-weight: 100;
  margin-left: 45px;
}