.tabs-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  &__item {
    display: inline;
    span {
      cursor: pointer;
    }
    &_active, &:hover {
      span {
        color: #98c73a;
      }
    }
    &:not(:last-child){
      &:after{
        content: '>';
        margin: 0 15px;
      }
    }
  }
}