.tab-container {
  padding: 40px 20px;
  .registration-group {
    margin-bottom: 10px;
    min-height: 60px;
    .registration-label {
      margin-bottom: 5px;
      font-size: 11px;
    }
  }
  &__wrapper {
    max-width: 1100px;
    margin: auto;
  }
  .check-container {
    margin-left: 0;
    label {
      font-size: 12px !important;
    }
  }

}

.MuiTabs-scrollable-41 {
  max-width: 1100px;
}

.title-part {
  color: $green;
  @include fontSize(16px);
  font-weight: 600;
  margin-bottom: 16px;
  &_md-big {
    margin-bottom: 35px;
  }
}

.default-btn {
   @include button-reset;
   color: $main-color-text-grey;
   @include fontSize(16px);
 }

.green-btn {
  @include button-reset;
  background: $green;
  color: $white;
  @include fontSize(16px);
  padding: 3px 25px;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  &__right {

  }
  &__left {
    button {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }
  }
}

.profile-btn {
  @include button-reset;
  @include fontSize(16px);
  border-radius: 5px;
  box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  font-weight: 600;
  padding: 3px 15px;
  min-width: 170px;
  &:hover {
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.3);
  }
  &:disabled {
    opacity: .5;
  }
  &_red {
    background: #d50000;
  }
  &_green {
    background: $green;
  }
  &_delete {
    background: inherit;
    border: 1px solid red;
    box-shadow: 2px 4px 10px 0 rgba(253, 5, 5, 0.1);
    color: $main-color-text-grey;
    &:hover {
      box-shadow: 2px 4px 10px 0 rgba(253, 5, 5, 0.3);
    }
  }
  &_shift-up {
    position: relative;
    top: -25px;
  }
}

.block-editable {
  border: solid 1px #cdcdcd;
  border-radius: 29px;
  padding: 30px 25px 25px;
}

.default-order {
  &__wrapper {
    padding-left: 20px;
    width: 100%;
  }
  .check-container {
    margin-left: 13px;
    & > div {
      margin-bottom: 0 !important;
    }
  }
}

.errorText {
  font-size: 1rem;
  line-height: 1rem;
  color: rgb(244, 67, 54);
  margin: 10px 0;
}

