.titlebar {
  background-color: #98c73a;
  line-height: 62px;
  height: 62px;
  &__title {
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
  }
  &__icon {
    display: inline-block;
    margin: 0 10px;
    background-color: $main-color-text-grey;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    @each $item in $listItemsSidebar {
      &_#{$item} {
        mask: url($path-to-dashboard-icon + 'icon-' + $item +'.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
      }
    }
  }
}
