.titlebar {
  background-color: #98c73a;
  line-height: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  &__title {
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
  }
  &__icon {
    position: relative;
    display: block;
    &:before {
      content: '';
      background-color: $white;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
    }
    //display: inline-block;
    //margin: 0 10px;
    //background-color: $main-color-text-grey;
    //width: 16px;
    //height: 16px;
    //vertical-align: text-top;
    //@each $item in $listItemsSidebar {
    //  &_#{$item} {
    //    mask: url($path-to-dashboard-icon + 'icon-' + $item +'.svg');
    //    mask-size: contain;
    //    mask-repeat: no-repeat;
    //  }
    //}
    &_wallet {
      width: 20px;
      height: 21px;
      margin-right: 20px;
      &:before {
        mask: url($path-to-dashboard-icon + 'icon-wallet.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        width: 20px;
        height: 21px;
      }
    }
  }
}
