.widget {
  background: $white;
  padding: 25px 10px 25px 20px;
  margin-bottom: 15px;
  border: 1px solid #EDEDED;

  &__head {
    margin-bottom: 20px;
  }

  &__icon {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 7px;
    &:before {
      background-color: $green;
      width: 16px;
      height: 16px;
      position: relative;
      display: block;
    }
    @each $item in $listIconsTitleWidgets {
      &_#{$item} {
        @include iconDashboard($item);
      }
    }
  }

  &__title {
    @include fontSize(15px);
    color: $green;
    margin: 0;
    font-weight: normal;
  }
  &__body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 87%;
    padding-right: 10px;
  }
}