.widget {
  border: 1px solid;
  height: 100%;
  overflow: hidden;

  &__head {
    padding: 25px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 7px;
    &:before {
      background-color: $green;
      width: 16px;
      height: 16px;
      position: relative;
      display: block;
    }
    @each $item in $listIconsTitleWidgets {
      &_#{$item} {
        @include iconDashboard($item);
      }
    }
  }

  &__title {
    @include fontSize(15px);
    color: $green;
    margin: 0;
    font-weight: normal;
  }
  &__body {
    position: relative;
    overflow-y: auto;
    max-height: 90%;
  }
  &__row-buttons {
    display: flex;
    align-items: end;
    & > button:not(:last-child) {
      margin-right: 15px;
    }
  }
  &_padding {
    padding: 25px 15px;
    .widget__head {
      padding: 0 0 20px;
    }
  }
}

.widget-adv-img {
  max-height: 88%;
  height: 100%;
  display: block;
  position: relative;
  img {
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
}

.widget-menu {
  position: relative;
  &__btn {
    background: none;
    border: none;
    height: 18px;
    width: 4px;
    position: relative;
    padding: 0;
    cursor: pointer;
    &:before {
      height: 18px;
      width: 4px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $main-color-text-grey;
    }
    @include iconDashboard('dots')
  }
  &__list {

  }
}

.btn-widget-head {
  @include button-reset;
  @include fontSize(12px);
  border-radius: 30px;
  transition: .3s;
  padding: 3px 10px;
  &_green {
    color: $white;
    background: $green;
  }
}