.widget {
  background: $white;
  padding: 18px 20px;
  margin-bottom: 15px;
  border: 1px solid #EDEDED;
  &_h-390 {
    height: 390px;
  }
  &_h-287 {
    height: 287px;
  }

  &__head {
    margin-bottom: 20px;
  }

  &__title {
    @include fontSize(15px);
    color: $green;
    margin: 0;
    font-weight: normal;
  }
  &__body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 87%;
  }
}