@function calculateRem($size) {
  $remSize: $size / $sizeValue;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: calculateRem($size);
}

@mixin iconDashboard($iconName) {
  &:before {
    content: '';
    mask: url($path-to-dashboard-icon + 'icon-' + $iconName +'.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

@mixin colorfulMenuItem($color) {
  button .nav-list__icon {
    fill: $color;
  }
  &:hover, &:focus, &_active {
    a, span, .nav-list__link {
      color: $color !important;
    }
    button .nav-list__icon {
      fill: $color;
    }
  }

}

@mixin iconFlags($country) {
  &:before {
    content: '';
    background: url($path-to-dashboard-icon + 'flag-' + $country +'.svg') no-repeat;
  }
}

@mixin styledButtonsByColor($color, $name) {
  transition: .3s;
  &_#{$name} {
    color: $color;
    border-color: $color;
  }
  &:hover, &:focus {
    background: $color;
    color: #fff;
  }
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin styledScroll($color) {
  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-track {
    background: inherit;
  }
  ::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: $color;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #dadada;
  }
  ::-webkit-scrollbar:horizontal {
    height: 9px;
  }
}