@function calculateRem($size) {
  $remSize: $size / $sizeValue;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: calculateRem($size);
}

@mixin iconDashboard($iconName) {
  &:before {
    content: '';
    mask: url($path-to-dashboard-icon + 'icon-' + $iconName +'.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}

@mixin colorfulMenuItem($color) {
  .nav-list__icon {
    &:before {
      background-color: $color !important;
    }
  }
  &:hover, &:focus  {
    a {
      color: $color;
    }
  }
}

@mixin iconFlags($country) {
  &:before {
    content: '';
    background: url($path-to-dashboard-icon + 'flag-' + $country +'.svg') no-repeat;
  }
}