a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

button, input {
  &:focus, &:active {
    outline: none !important;
    box-shadow: none;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 80px white inset;
}
