$sizeValue: 14px;
$ProximaNova: 'Proxima Nova';
$white: #ffffff;
$green: #98c73a;
$pale-olive-green: #b2d56b;
$dark-grey: #222325;
$main-color-text-grey: #808895;
$yellow: #f8e71c;
$light-red: #ff0000;
$blue: #4a90e2;
$dark-bg-blue: #211f39;
$dark-blue: #292844;
$alto: #E0E0E0;

$path-to-dashboard-icon: "../../../static/images/dashboard-icons/";
$path-to-images: "../../../static/images/";

$listItemsSidebar: chart user perform case file marker peer invest funding informing facilitating timeline community groups blogs help information resources external;
$listIconsTitleWidgets: community, groups, environmental;
$listCounties: usa, canada, brazil, argentina, mexico, japan, australia, china, south-korea, india, france, italy, germany, ireland, uk, netherlands, spain, poland, russia;