$sizeValue: 14px;
$ProximaNova: 'Proxima Nova';

$green: #98c73a;
$pale-olive-green: #b2d56b;
$yellow-green: #b2d56b;
$yellow: #f8e71c;
$light-red: #ff0000;
$mandy: #e64e5b;
$dark-grey: #222325;
$dark-bg-blue: #211f39;
$dark-blue: #292844;
$blue: #4a90e2;
$main-color-text-grey: #808895;
$silver: #a0a0a0;
$gallery: #ebebeb;
$light-gray: #ededed;
$athens-gray: #f9fafb;
$mercury: #e9e9e9;
$alto: #e0e0e0;
$sugar-cane: #f8fff7;
$rose-white: #fff7f7;
$white: #ffffff;

$path-to-dashboard-icon: "../../../static/images/dashboard-icons/";
$path-to-images: "../../../static/images/";

$listItemsSidebar: chart, user, perform, case, file, marker, peer, invest, funding, informing, facilitating, timeline, community, groups, blogs, help, information, resources, external;
$listIconsTitleWidgets: community, groups, environmental;
$listCounties: usa, canada, brazil, argentina, mexico, japan, australia, china, south-korea, india, france, italy, germany, ireland, uk, netherlands, spain, poland, russia;
$listItemsTitleBar: timeline, community, groups, blogs;

$sidebar-width-full: 167px;
$sidebar-width: 80px;