@import "../../node_modules/normalize.css/normalize.css";
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './modules/_header';
@import './modules/_onboard';
@import './modules/_footer';
@import 'modules/upload-file';
@import "modules/_registration-menu";
@import "./modules/_button";
@import './modules/_radio-btn';
@import './modules/_main-container';
@import "../fonts/fonts.css";

body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}
#root div:first-child { height: 100%; width:100%; }