@import 'modules/fonts';
@import 'variables';
@import 'mixins';
@import "reset";
@import "../../node_modules/normalize.css/normalize.css";
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'modules/header';
@import 'modules/onboard';
@import 'modules/final-review-page';
@import 'modules/footer';
@import 'modules/upload-file';
@import 'modules/tabs-menu';
@import 'modules/button';
@import 'modules/radio-btn';
@import 'modules/main-container';
@import 'modules/input-group';
@import 'modules/menu-items';
@import 'modules/information-page';
@import 'modules/agreement-page';
@import 'modules/date-picker';
@import 'modules/fields-group';
@import 'modules/dashboard';
@import 'modules/dashboard-header';
@import 'modules/sidebar';
@import 'modules/details';
@import 'modules/widget';
@import 'modules/emp-table';
@import "modules/news-card";
@import "modules/side-menu";
@import "modules/icon-flag";
@import "modules/titlebar";
@import "modules/profile-menu";
@import "modules/tabs-line";
@import "modules/tab-container";
@import "modules/name-edit";
@import "modules/login";
@import "modules/profile-popup";
@import "modules/chart";
@import "modules/loader";
@import "modules/mfa";
@import "modules/popup-verify";
@import "modules/global-portfolio";
@import "modules/account-tabs";
@import "modules/investment-profile";
@import "modules/info-popup";
@import "modules/notifications";
@import "modules/modals";

html {
  height: 100%;
  font-size: $sizeValue;
}

html, body {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ffffff;
  color: $main-color-text-grey;
  min-width: 768px;
  font-weight: 300;
}

body, div {
  font-family: $ProximaNova;
}

